.cart-item{
  padding:40px;
  margin-bottom:20px;
  position: relative;
  border-bottom: 1px solid #ccc;

  &__body{
    display:flex;
    justify-content: space-between;
    height:100px;
  }


  &__actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .cart-item__delete-btn{
    background: url('../../assets/icons/delete_btn.svg') 50% 50% no-repeat;

    &:hover{
      opacity: 0.6;
    }
  }
}


.btn{
  border:0;
  outline:0;
  cursor:pointer;
}

.btn_small{
  width:30px;
  height:30px;

}

.btn_primary{
  width:150px;
  padding:5px;
  background: #002051;
  color:white;

  &:hover{
    background:white;
    color: #002051;
    border: 1px solid #002051;
  }
}